.principal{
    display: flex;
    flex-direction: column;
    width: 315px;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .principal{
        display: none;
    }
    .form{
        font: 24px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}